*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #eaeaea;
    padding: 40px;
}

.cv-container{
    max-width: 900px;
    max-height: 900px;
    margin: auto;
    background: white;
    display: flex;
}

.left{
    width: 30%;
    background: #efefef;
    padding: 25px;
}

.image{
    text-align: left;
}

.image img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: 2px;
}

.Adresse p{
    font-size: 13px;
    margin: 8px 0;
}

.Adresse i{
    margin-right: 8px;
}

.comp{
    margin-top: 25px;
}

.comp h3{
    background: #222;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.comp p{
    list-style: none;
    font-size: 13px;
    margin-bottom: 6px;
}

.lang{
    margin-top: 25px;
}

.lang h3{
    background: #222;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.lang p{
    list-style: none;
    font-size: 13px;
    margin-bottom: 6px;
}

.pers{
    margin-top: 25px;
}

.pers h3{
    background: #222;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.pers p{
    list-style: none;
    font-size: 13px;
    margin-bottom: 6px;
}

.right{
    width: 70%;
    padding: 30px;
}

.prof h1{
    font-size: 28px;
    font-weight: bold;
}

.prof h4{
    font-size: 14px;
    margin: 5px 0 15px;
}

.prof p{
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.exp{
    background: #222;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin: 25px  0 15px;
}

.exp i{
    margin-right: 8px;
}

.exp-info{
    display: flex;
    flex-flow: column wrap;
}

.exp-info h4{
    font-weight: lighter;
}